#text-editor-container {
    flex: 1;
    overflow: hidden;
}
#text-editor {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border: 0;
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-size: 11pt;
    background-color: #171615;
    padding: 16px;
    resize: none;
    overflow: auto;
}

#text-editor:focus-visible {
    outline: 0;
}